<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ES_Nomina.My.MySettings.ESNominaConnection" connectionString="Data Source=ROGERMANUEL;Initial Catalog=ESNomina;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ES_Nomina.My.MySettings.ESNominaConnectionReports"
            connectionString="Data Source=ROGERMANUEL;Initial Catalog=ESNomina;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>